@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@600&family=Montserrat:wght@800&family=Teko:wght@600&display=swap');

/* Configurações Gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #241A1C;
    color: #fff;
}

html{
    font-family: Inter, 'sans-serif';
    font-weight: 600;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


/* NavBar Style */

nav{
    padding: 10px;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    background-color: #1F1517;
}

.titulo{
    font-family: 'Teko';
    font-size: 36px;
    font-weight: bold;

    color: #fff;
}

.link{
    display: flex;
    flex-direction: row;
}

.link li a{
    display: flex;
    padding: 15px;

    font-family: 'Inter';
    font-size: 16px;
    font-weight: bold;

    color: #fff2e7;
    opacity: 50%; 
}
.link li a:hover{
    transition: 0.5s;
    opacity: 100%;
}

.github{

    font-family: 'Inter';
    font-size: 16px;
    font-weight: bold;

    color: #fff2e7;
 
}
